/* container змінити на 280px перед зливанням */

body {
  min-height: 100vh;
}

.account__wrapper {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  height: 170px;
  background-color: rgb(19, 31, 48);
  box-shadow: 15px 0px 25px 0px rgba(29, 29, 27, 0.15);
  padding-top: 35px; /*для макета*/
}

.account-title {
  font-family: 'MontserratRegular', sans-serif;
  font-size: 12px;
  line-height: 26px;
  color: #ffffff;
  transition: 0.4s;
  height: max-content;
  margin-top: 10px; /*для макета*/
}

.account-avatar {
  width: 44px;
  height: 44px;
  margin-right: 20px;
}

.avatar {
  width: 100%;
  border-radius: 50%;
  border: 2px solid #ffffff;
}

.account-title:hover {
  cursor: pointer;
  color: #ff6b08;
}

.avatar--hover:hover {
  border: 2px solid #ff6b08;
  transition: 0.4s;
  cursor: pointer;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* MODAL OF USER ACCOUNT */

.account-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 40px 0 20px;
}

.modal__icon--close::before {
  position: absolute;
  top: 15px;
  right: 15px;
  content: '';
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(./account-icons/close.svg);
  cursor: pointer;
}

.avatar-in {
  border: none;
  box-shadow: 2px 1px 5px #9b9b99c0;
}

.user-avatar {
  position: relative;
  width: 85px;
  height: 85px;
  margin: 0 auto 15px;
}

.user-avatar::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  box-shadow: 0px 1px 5px #9b9b99c0;
  background-repeat: no-repeat;
  background-position: center;
}

.user-avatar:hover::after {
  background-color: #ff6b08;
  transition: 0.4s;
  cursor: pointer;
}

.avatar__icon--camera::after {
  background-color: #114896;
  background-image: url(./account-icons/camera.svg);
}

.account-list {
  margin: 0 18px;
}

.hr--line::after,
.hr--line::before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(133, 133, 133, 0.38);
  margin-bottom: 20px;
}

.user-info {
  text-align: center;
  margin-bottom: 20px;
}

.user-info__fullname,
.user-info__mail,
.user-info__phone {
  line-height: 22px;
  color: #333333;
  letter-spacing: 0.29px;
}

.user-info__fullname {
  font-family: 'MontserratSemiBold', sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

.user-info__mail,
.user-info__phone {
  font-family: 'MontserratRegular', sans-serif;
  font-size: 14px;
}

.account-list__favorites,
.account-list__advertisement {
  font-family: 'MontserratRegular', sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 25px 16px;
  padding-left: 40px;
}

.account-list__favorites:hover,
.account-list__advertisement:hover,
.account-logout:hover {
  color: #ff6b08;
  cursor: pointer;
  transition: 0.3s;
}

.icon--heart,
.icon--heart-on,
.icon--add,
.icon--pencil-on,
.icon--logout {
  background-repeat: no-repeat;
}

.icon--heart {
  background-image: url(./account-icons/heart-out.svg);
}

.icon--heart-on {
  background-image: url(./account-icons/heart-on--hover.svg);
}

.icon--add {
  background-image: url(./account-icons/pencil.svg);
}

.icon--logout {
  background-image: url(./account-icons/logout.svg);
}

.icon--pencil-on {
  background-image: url(./account-icons/pencil--hover.svg);
}

.icon--heart:hover {
  background-image: url(./account-icons/heart-out--hover.svg);
}

.icon--add:hover {
  background-image: url(./account-icons/pencil--hover.svg);
}

.icon--logout:hover {
  background-image: url(./account-icons/logout--hover.svg);
}

.account-list__favorites-link,
.account-list__advertisement-link {
  margin-right: 10px;
}

.counter {
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  /* color: #ffffff; */
  color: #333333;
  border-radius: 50%;
  box-shadow: 1px 1px 3px #9b9b99c0;
  /* background-color: #ff6b08; */
}

.account-logout {
  font-family: 'MontserratSemiBold', sans-serif;
  font-size: 16px;
  margin-left: 35px;
  padding-left: 40px;
}

/* MODAL OF ACCAUNT FAVORITE GOODS AND MY ADS (advertisement) */

.selected-goods__inner,
.my-ads__inner {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
  height: 100vh;
  overflow: auto;
  background-color: #ffffff;
}

.selected-goods,
.my-ads {
  width: 240px;
  margin: 0 auto;
}

.selected-goods__title,
.my-ads__title {
  font-family: 'MontserratBold', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
  padding-left: 40px;
  margin-bottom: 20px;
}

.selected-goods__list,
.my-ads__list {
  width: 100%;
  height: 100%;
}

.selected-goods__item,
.my-ads__item {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 6px -2px #cecece;
  margin-bottom: 20px;
}

.selected-goods__item:hover,
.my-ads__item:hover {
  transform: scale(1.03);
  transition: 0.5s;
  box-shadow: 2px 2px 6px -1px #d1d1d1;
  cursor: pointer;
}

.selected-goods__item-img,
.my-ads__item-img {
  display: block;
  width: 220px;
  height: 180px;
  object-fit: contain;
}

.selected-goods__item-title,
.selected-goods__item-price,
.my-ads__item-title,
.my-ads__item-price {
  font-family: 'MontserratBold', sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
}

.selected-goods__item-title,
.my-ads__item-title {
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.selected-goods__item-price,
.my-ads__item-price {
  color: #e96105;
}

.selected-goods__item-desc {
  display: none;
  font-family: 'MontserratLight', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #878686;
}

.selected-goods__icon-text,
.my-ads__icon-text {
  display: none;
  position: absolute;
  right: 45px;
  bottom: 15px;
  font-family: 'MontserratLight', sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #878686;
}

.selected-goods__icon-text--hidden {
  display: none;
}

.selected-goods__item-icon::after,
.my-ads__item-icon::after {
  position: absolute;
  right: 15px;
  bottom: 14px;
  content: '';
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.selected-goods__item-icon::after {
  background-image: url(./account-icons/heart-on--hover.svg);
}
.my-ads__item-icon::after {
  background-image: url(./account-icons/delete.svg);
}

.selected-goods__item-icon:hover::after {
  background-image: url(./account-icons/heart-out--hover.svg);
  transition: 0.5s;
}

.my-ads__item-icon:hover::after {
  background-image: url(./account-icons/delete-forever.svg);
  transition: 0.4s;
}

.selected-goods__item-icon:hover .selected-goods__icon-text,
.my-ads__item-icon:hover .my-ads__icon-text {
  display: inline-block;
}
@media (max-width: 767px) {
  .selected-goods__inner,
  .my-ads__inner {
    padding: 40px 0 20px;
  }

  .selected-goods__item,
  .my-ads__item {
    padding: 15px;
  }

  .selected-goods__item-img,
  .my-ads__item-img {
    margin: 0 auto 20px;
  }
}

@media (min-width: 768px) {
  .selected-goods__inner,
  .my-ads__inner {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 720px;
    height: 650px;
    padding-top: 50px;
  }

  .modal__icon--close::before {
    top: 25px;
    right: 25px;
  }

  .selected-goods,
  .my-ads {
    width: 600px;
  }

  .selected-goods__item,
  .my-ads__item {
    display: flex;
    padding: 15px 20px;
  }

  .selected-goods__item-img,
  .my-ads__item-img {
    width: 170px;
    height: 146px;
    margin: 0;
  }

  .selected-goods__item-block__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: max-content;
    padding-left: 20px;
  }

  .selected-goods__item-desc {
    display: block;
  }

  .selected-goods__icon-text,
  .my-ads__icon-text {
    right: 50px;
    bottom: 14px;
  }

  .selected-goods__icon-text--hidden {
    display: inline-block;
  }

  .selected-goods__item-icon::after,
  .my-ads__item-icon::after {
    right: 18px;
    bottom: 12px;
  }
}

@media (min-width: 1024px) {
  .selected-goods__inner,
  .my-ads__inner {
    width: 940px;
    height: 650px;
    padding-top: 60px;
  }

  .selected-goods,
  .my-ads {
    width: 810px;
  }

  .selected-goods__item,
  .my-ads__item {
    padding: 20px 40px;
    margin-bottom: 25px;
  }

  .selected-goods__item-img,
  .my-ads__item-img {
    width: 185px;
    height: 160px;
    margin: 0;
  }

  .selected-goods__item-block__info {
    padding-left: 40px;
  }

  .selected-goods__item-title,
  .selected-goods__item-price,
  .my-ads__item-title,
  .my-ads__item-price {
    font-size: 16px;
  }

  .selected-goods__item-desc {
    display: block;
    font-size: 14px;
  }

  .selected-goods__icon-text,
  .my-ads__icon-text {
    right: 70px;
    bottom: 20px;
    font-size: 13px;
  }

  .selected-goods__icon-text--hidden {
    display: inline-block;
  }

  .selected-goods__item-icon::after,
  .my-ads__item-icon::after {
    right: 38px;
    bottom: 18px;
  }
}
